# NextAuth
NEXTAUTH_SECRET=your_super_secret_key_min_32_chars
NEXTAUTH_URL=http://localhost:3000

# PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_2O8plgXRvYGc@ep-rapid-frog-aorv7z5u.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require


# Analytics (Vercel)
NEXT_PUBLIC_ANALYTICS_ID=your_vercel_analytics_id

# Admin credentials (seed default admin)
ADMIN_EMAIL=admin@pagiversestudio.com
ADMIN_PASSWORD=admin123
